<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form name="vm.accountForm" class="myaccount-form" novalidate>

                        <div class="form-group account-group"
                             ng-class="{'has-error': vm.accountForm.accountName.$dirty && vm.accountForm.accountName.$invalid }">
                            <label for="accountName">Name</label>
                            <input type="text" name="accountName" id="accountName" ng-model="vm.newAccount.name" ng-required="true"/>
                            <div ng-show="vm.accountForm.accountName.$dirty">
                                <p ng-show="vm.accountForm.accountName.$error.required">Поле имя - обязательно</p>
                            </div>
                        </div>
                        <div class="form-group account-group"
                             ng-class="{'has-error': vm.accountForm.accountEmail.$dirty && vm.accountForm.accountEmail.$invalid }">
                            <label for="accountEmail">Email</label>
                            <input type="email" name="accountEmail" id="accountEmail" ng-model="vm.newAccount.email" ng-required="true"/>
                            <div ng-show="vm.accountForm.accountEmail.$dirty">
                                <p ng-show="vm.accountForm.accountEmail.$error.required">Поле Email - обязательно</p>
                                <p ng-show="vm.accountForm.accountEmail.$error.email">Поле Email - неверный формат</p>
                            </div>
                        </div>
                        <div class="form-group account-group"
                             ng-class="{'has-error': vm.accountForm.accountPhone.$dirty && vm.accountForm.accountPhone.$invalid }">
                            <label for="accountPhone">Phone</label>
                            <input type="text" name="accountPhone" id="accountPhone" ng-model="vm.newAccount.phone"
                                   ng-pattern="/^\+\d{1}\d{3}\d{7}$/"/>
                            <div ng-show="vm.accountForm.accountPhone.$dirty">
                                <p ng-show="vm.accountForm.accountPhone.$error.pattern">Номер телефона записан
                                    неверно</p>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary account-group" ng-click="createUser(vm.newAccount)" ng-disabled="vm.accountForm.$invalid">Login
                        </button>

                    </form>

                </div>
                <ul class="list-group">
                    <li ng-repeat="user in getUsers" class="list-group-item">
                        <span>Имя - "{{user.name}}", E-mail - "{{user.email}}", Телефонный номер - "{{user.phone}}"</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>